.map {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  right:0;
  }

.directions-control {
  position:absolute;
  width:33.3333%;
  max-width:300px;
  min-width:200px;
  z-index:1;
  }

#inputs {
  top:10px;
  left:10px;
  }

#directions {
  background:rgba(0,0,0,.8);
  top:0;
  right:0;
  bottom:0;
  overflow:auto;
  }
  #directions:empty { display:none; }

#errors {
  opacity:0;
  padding:10px;
  border-radius:0 0 3px 3px;
  background:rgba(0,0,0,.25);
  top:90px;
  left:10px;
  }
