<div class='directions-control directions-control-directions'>
  <div class='mapbox-directions-component mapbox-directions-route-summary'>
    <div>
      <label>Route <%- routeIndex + 1 %></label>
      <h1><%- duration %></h1>
      <span><%- distance %></span>
    </div>
  </div>

  <div class='mapbox-directions-instructions'>
    <ol class='mapbox-directions-steps'>
      <% steps.forEach(function(step) { %>
        <% var distance = step.distance ? format(step.distance) : false; %>
        <% var icon = step.maneuver.type.replace(/\s+/g, '-').toLowerCase(); %>
        <li class='mapbox-directions-step'>
          <span class='directions-icon directions-icon-<%= icon %>'></span>
          <div class='mapbox-directions-step-maneuver'>
            <%= step.maneuver.instruction %>
          </div>
          <% if (step.distance) { %>
            <div class='mapbox-directions-step-distance'>
              <%= distance %>
            </div>
          <% } %>
        </li>
      <% }); %>
    </ol>
  </div>
</div>
